body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 26%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img { 
    width: 60px;
    float: left;

    
}

.aside_img_icon {
    background: #fff;
    border-radius: 50%;

    padding: 2px;
    margin-right: 5px;

    width: 20px;
    height: 20px;

    position: relative;
    top: 2px;

    transition: transform .6s ease;

    }

.aside_img_icon:hover {
        background: yellow;
    }

    .aside_img_icon_button {
        background: #fff;
        border-radius: 50%;
    
        padding: 2px;
        margin-right: 5px;
    
        width: 30px;
        height: 30px;
    
        position: relative;
        /* top: 0.5px; */
    
        transition: transform .6s ease;
    
        }
    
    .aside_img_icon_button:hover {
            background: yellow;
        }    
   
aside .logo {
    font-size: 50px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px
} 

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color:  #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
    

}

aside ul li:hover, 
aside ul a:hover {
    color: yellow;
    text-decoration: none;
    transform: scale(1.05);



}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 74%;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;

}

.alert-warning { 
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 37%;
    text-align: left;
}

.news_title {
    /* float: left; */
    padding-top: 15px;
    text-align: center;
    font-size: 30px;
}

.news_date {
    font-size: 12px;
    float: left;
    
}

.news_container {
    display: flex;
    flex-direction: column;
    
}

.aside_btn {
    color:black;
    font-size: 18px;
    font-weight: 600;
    background: oldlace;
    border-radius: 15px;
    
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

    
    padding: 2px;
    padding-right: 10px;
}

.aside_btn:hover {
    /* color:grey; */
    background-color: bisque;
}

.aside_a {
    text-decoration: none;

}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
    

