{% extends "main/layout.html" %}

{% block title %}
    Новини на сайті
{% endblock %}

{% block content%}
<div class="features">
    <h1>Новини на сайті</h1>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore architecto assumenda quam nostrum, accusantium reiciendis autem sunt. Soluta amet asperiores deleniti aut harum quidem, laboriosam cum, ipsum id qui voluptatem?</p>
        <button class="btn btn-warning"> {% filter upper %}На сторінку про нас  {% endfilter %}</button>
   
   
    
</div>

{% endblock %}